body {
    background-color: white;
    margin: 0;
    font-family: Calibri;
}

hr {
    border: 0;
    background-image: linear-gradient(to right, transparent, #DBDBDB, transparent);
    height: 1px;
}

#headTitle {
    width: 100%;
    background-image: linear-gradient(to right, rgba(0, 110, 147, 1), rgba(130, 150, 0, 1));
    padding: 20px 20px 20px 15%;
    margin: 0;
    box-sizing: border-box;
}

#headTitle a {
    font-size: 30px;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
}

#headTitle a:hover {
    -webkit-animation: allthewaaaaay 1s infinite;
    animation: allthewaaaaay 1s infinite;
}

@-webkit-keyframes allthewaaaaay {

    0%,
    100% {
        color: #7ccdea;
    }

    16% {
        color: #0074d9;
    }

    32% {
        color: #2ecc40;
    }

    48% {
        color: #ffdc00;
    }

    64% {
        color: #b10dc9;
    }

    80% {
        color: #ff4136;
    }
}

@keyframes allthewaaaaay {

    0%,
    100% {
        color: #7ccdea;
    }

    16% {
        color: #0074d9;
    }

    32% {
        color: #2ecc40;
    }

    48% {
        color: #ffdc00;
    }

    64% {
        color: #b10dc9;
    }

    80% {
        color: #ff4136;
    }
}

#toolBox {
    text-align: right;
    background-color: #00293A;
    padding: 5px 14% 5px 5px;
    color: white;
}

#toolBox a {
    color: white;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
}

#toolBox a:hover {
    color: #829600;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
}

.toolBold {
    font-weight:bold;
}

#containBody {
    width: 80%;
    height: 100%;
    margin: auto;
    padding: 20px 0px 20px 0px;
    box-sizing: border-box;
    text-align: center;
    overflow: auto;
}


#foots {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    box-sizing: border-box;
    padding: 5px 0px;
    background-color: #00293A;
    color: white;
    text-align: center;
    font-size: 25px;
}

#foots a {
    color: white;
}

#foots a:hover {
    -webkit-animation: allthewaaaaay 1s infinite;
    animation: allthewaaaaay 1s infinite;
}


/* medium */
@media screen and (min-width: 700px) {
    #headTitle {
        width: 100%;
        padding: 2% 2% 2% 5%;
        margin: 0;
        text-align:left;
    }

    #containBody {
        width:100%;
        margin-left:0px;
    }

    #toolBox {
        text-align: right;
        background-color: #00293A;
        padding: 5px 5% 5px 5px;
        }
    .toolBold {display:inline-block;}
}
/* tiny */
@media screen and (max-width: 700px) {
    #headTitle {
        width: 100%;
        padding: 5%;
        margin: 0;
        text-align:center;
    }
#containBody {
    width:100%;
    margin-left:0px;
    padding:0px;
}
.toolBold {display:none;}
    #toolBox {
        padding-right:0%;
        text-align:center;
    }
}
/* bigsize */
@media screen and (min-width: 1200px) {
    #headTitle {
        width: 100%;
        padding: 20px 20px 20px 14%;
        margin: 0;
        text-align:left;
    }

    #containBody {
        width:80%;
        margin:auto;
    }
    #toolBox {
        text-align: right;
    background-color: #00293A;
    padding: 5px 14% 5px 5px;
    }
}